body{
	background-image:url('./img/ba.gif');
	width:100%;
}

.thread{
	text-align:left;
	margin:0px auto;
	/*margin-top:5px;*/
	width:700px;
	background-color:#EFEFEF;
	border:groove 3px #000000;
	
}

.comment{
	background-color:#EFEFEF;
	margin: 1px 5px 2px 5px;
}

#form{
	margin:5px 5px 0px 0px;
	width:700px;
}

#footer{
	margin-top:10px;
}

#name{
	color:green;
	font-weight:bold;
}

#title{
	color:red;
	font-weight:bold;
}

.error{
	color:red;
	font-weight:bold;
}

#thread_list{
	text-align:left;
	margin:0px auto;
	width:700px;
	background-color:#ccffcc;
	border:groove 3px #000000;
}

#form_name{
	float:left;
}
#sp_next{
	display:none;
}

#main{
	text-align:center;
	width:100%;
}

#regist_thread{
	text-align:left;
	margin:0px auto;
	width:700px;
	background-color:#EFEFEF;
}
