body{
	width:100%;
	background-image:url('./img/ba.gif');
	font-size:16px;
	line-height:1.5em;
	text-align:center;
}
td, th, p, h1, h2, h3, h4, h5, h6, label { word-break: break-all; word-wrap: break-word; }

#thread_list{
	text-align:left;
	margin:0px auto;
	width:90%;
	height:3%;
	background-color:#EFEFEF;
	font-size:14px;
}

.thread{
	text-align:left;
	margin:0px auto;
	width:90%;
	background-color:#EFEFEF;
	font-size:14px;
}

.title{
	width:100%;

}
.name{
	font-size:14px;
}


#name{
	color:green;
	font-size:14px;
}

#title{
	color:red;
}

.date{
	font-size:14px;
}
#form_name{
	width:70%;
	height:10%;
}

#form_email{
	width:70%;
	height:20%;
}
textarea{
	width:90%;
	height:20%;
}

.form{
	margin:0px auto;
}	

.error{
	color:red;
}

#main{
	text-align:center;
	width:100%;
}

#sp_link{
	text-align:left;
	margin:0px auto;
	width:80%;
	border:solid 1px;
}
